<!DOCTYPE html>
	<html ng-app='chefApp'>
		<head>
			<title>Chefs Source</title>
			<meta name="viewport" content="width=device-width">
			<link rel="stylesheet" type="text/css" href="normalize.css">
			<link rel="stylesheet" type="text/css" href="style.css">
			<link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
			<meta name="apple-mobile-web-app-capable" content="yes" />
		</head>
			<body>
				
					<img class="loginpic"src="img/kitchen2.png">

					<h1>ChefSource</h1>

					<form class="login">
    					 <input class="username" type="text" ng-model="user.name" placeholder="Username" ng-maxlength="20" ng-minlength="3" required>
   						 </br>

    					 <input class="password" type="password" ng-model="user.name" placeholder="Password" ng-maxlength="20" ng-minlength="3" required>
   			
   						 
    				</form>

    				<a class="loginbtn" href="recipes.html">Login</a>
    			


    				
			

			</body>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
			<script src="main.js"></script>
			<script src="mobile.js"></script>

			<!-- Firebase -->
			<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
			<!-- AngularFire -->
			<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
			<script src="/bower_components/angular-touch/angular-touch.js"></script>


	</html>